<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>KirjautuminenServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.Kirjautuminen.KirjautuminenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YleisServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.YleisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EtusivuServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.EtusivuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OhjaaKirjautumisSivulleServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.Kirjautuminen.OhjaaKirjautumisSivulleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KirjauduUlosServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.Kirjautuminen.KirjauduUlosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KirjalistaServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.KirjalistaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KirjaServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.Kirjatoiminnot.KirjaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KirjanLisaysServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.Kirjatoiminnot.KirjanLisaysServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KirjanMuokkausServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.Kirjatoiminnot.KirjanMuokkausServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KirjanPoistoServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.Kirjatoiminnot.KirjanPoistoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KritiikinLisaysServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.Kritiikit.KritiikinLisaysServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PisteidenLisaysServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.PisteidenLisaysServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfiiliServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.ProfiiliServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NaytaKayttajanKritiikitServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.NaytaKayttajanKritiikitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KommentinLisaysServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.Kommentit.KommentinLisaysServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JarjestaKirjatNimenPerusteellaServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.KirjalistanJarjestaminen.JarjestaKirjatNimenPerusteellaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JarjestaKirjatJulkaisuvuodenPerusteellaServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.KirjalistanJarjestaminen.JarjestaKirjatJulkaisuvuodenPerusteellaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JarjestaKirjatSuomentajanPerusteellaServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.KirjalistanJarjestaminen.JarjestaKirjatSuomentajanPerusteellaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JarjestaKirjatKirjailijanPerusteellaServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.KirjalistanJarjestaminen.JarjestaKirjatKirjailijanPerusteellaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JarjestaKirjatJulkaisukielenPerusteellaServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.KirjalistanJarjestaminen.JarjestaKirjatJulkaisukielenPerusteellaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SanahakuServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.SanahakuKirjoilleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KritiikinPoistoServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.Kritiikit.KritiikinPoistoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KritiikinMuokkausServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.Kritiikit.KritiikinMuokkausServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RekisteroityminenServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.RekisteroityminenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KommentinPoistoServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.Kommentit.KommentinPoistoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KommentinMuokkausServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.Kommentit.KommentinMuokkausServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KayttajalistaServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.Kayttajat.KayttajalistaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KayttajatiedotServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.Kayttajat.KayttajatiedotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KayttajaTietojenMuokkausServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.Kayttajat.KayttajaTietojenMuokkausServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KayttajanPoistoServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.Kayttajat.KayttajanPoistoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KayttajahakuServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.Kayttajat.KayttajahakuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KirjautuminenServlet</servlet-name>
        <url-pattern>/Kirjautuminen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YleisServlet</servlet-name>
        <url-pattern>/YleisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EtusivuServlet</servlet-name>
        <url-pattern>/Etusivu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OhjaaKirjautumisSivulleServlet</servlet-name>
        <url-pattern>/OhjaaKirjautumiseen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KirjauduUlosServlet</servlet-name>
        <url-pattern>/Uloskirjautuminen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KirjalistaServlet</servlet-name>
        <url-pattern>/Kirjalista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KirjaServlet</servlet-name>
        <url-pattern>/Kirja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KirjanLisaysServlet</servlet-name>
        <url-pattern>/KirjanLisays</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KirjanMuokkausServlet</servlet-name>
        <url-pattern>/KirjanMuokkaus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KirjanPoistoServlet</servlet-name>
        <url-pattern>/KirjanPoisto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KritiikinLisaysServlet</servlet-name>
        <url-pattern>/KritiikinLisays</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PisteidenLisaysServlet</servlet-name>
        <url-pattern>/PisteidenLisays</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfiiliServlet</servlet-name>
        <url-pattern>/Profiili</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NaytaKayttajanKritiikitServlet</servlet-name>
        <url-pattern>/NaytaKayttajanKritiikit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KommentinLisaysServlet</servlet-name>
        <url-pattern>/KommentinLisays</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JarjestaKirjatNimenPerusteellaServlet</servlet-name>
        <url-pattern>/JarjestaKirjatNimenPerusteella</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JarjestaKirjatJulkaisuvuodenPerusteellaServlet</servlet-name>
        <url-pattern>/JarjestaKirjatJulkaisuvuodenPerusteella</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JarjestaKirjatSuomentajanPerusteellaServlet</servlet-name>
        <url-pattern>/JarjestaKirjatSuomentajanPerusteella</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JarjestaKirjatKirjailijanPerusteellaServlet</servlet-name>
        <url-pattern>/JarjestaKirjatKirjailijanPerusteella</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JarjestaKirjatJulkaisukielenPerusteellaServlet</servlet-name>
        <url-pattern>/JarjestaKirjatJulkaisukielenPerusteella</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SanahakuServlet</servlet-name>
        <url-pattern>/SanahakuKirjoille</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KritiikinPoistoServlet</servlet-name>
        <url-pattern>/KritiikinPoisto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KritiikinMuokkausServlet</servlet-name>
        <url-pattern>/KritiikinMuokkaus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RekisteroityminenServlet</servlet-name>
        <url-pattern>/Rekisteroityminen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KommentinPoistoServlet</servlet-name>
        <url-pattern>/KommentinPoisto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KommentinMuokkausServlet</servlet-name>
        <url-pattern>/KommentinMuokkaus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KayttajalistaServlet</servlet-name>
        <url-pattern>/Kayttajalista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KayttajatiedotServlet</servlet-name>
        <url-pattern>/Kayttajatiedot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KayttajaTietojenMuokkausServlet</servlet-name>
        <url-pattern>/KayttajaTietojenMuokkaus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KayttajanPoistoServlet</servlet-name>
        <url-pattern>/KayttajanPoisto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KayttajahakuServlet</servlet-name>
        <url-pattern>/Kayttajahaku</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>kirjautuminen.jsp</welcome-file>
    </welcome-file-list>
    <servlet-name>KayttajaListausServlet</servlet-name>
    <url-pattern>/KayttajaListausServlet</url-pattern>
</web-app>
