<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>KirjautuminenServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.KirjautuminenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YleisServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.YleisServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KayttajaListausServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.KayttajaListausServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EtusivuServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.EtusivuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OhjaaKirjautumisSivulleServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.OhjaaKirjautumisSivulleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KirjauduUlosServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.KirjauduUlosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KirjalistaServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.KirjalistaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KirjaServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.KirjaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KirjanLisaysServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.KirjanLisaysServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KirjanMuokkausServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.KirjanMuokkausServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KirjanPoistoServlet</servlet-name>
        <servlet-class>Kritiikki.Servletit.KirjanPoistoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KayttajaListausServlet</servlet-name>
        <url-pattern>/KayttajaListausServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KirjautuminenServlet</servlet-name>
        <url-pattern>/Kirjautuminen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YleisServlet</servlet-name>
        <url-pattern>/YleisServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EtusivuServlet</servlet-name>
        <url-pattern>/Etusivu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OhjaaKirjautumisSivulleServlet</servlet-name>
        <url-pattern>/OhjaaKirjautumiseen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KirjauduUlosServlet</servlet-name>
        <url-pattern>/Uloskirjautuminen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KirjalistaServlet</servlet-name>
        <url-pattern>/Kirjalista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KirjaServlet</servlet-name>
        <url-pattern>/Kirja</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KirjanLisaysServlet</servlet-name>
        <url-pattern>/KirjanLisays</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KirjanMuokkausServlet</servlet-name>
        <url-pattern>/KirjanMuokkaus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KirjanPoistoServlet</servlet-name>
        <url-pattern>/KirjanPoisto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>kirjautuminen.jsp</welcome-file>
    </welcome-file-list>
    <servlet-name>KayttajaListausServlet</servlet-name>
    <url-pattern>/KayttajaListausServlet</url-pattern>
</web-app>
